<!DOCTYPE html>
<html lang="en">
<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Sweetwedding - Responsive OnePage HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="~/Content/css/pogo-slider.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="preloader pulse">
            <h3>Karlene Hoard & Jonas Pare</h3>
        </div>
    </div><!-- end loader -->
    <!-- END LOADER -->
    <!-- Start header -->
    <header class="top-header" dir="rtl">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
                <div class="collapse navbar-collapse justify-content-start" id="navbar-wd" dir="rtl">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="~/Home/Index">الرئيسية</a></li>
                        <li><a class="nav-link" href="~/Home/AboutUs">من نحن </a></li>
                        <li><a class="nav-link" href="~/Home/Service">خدمات الموقع </a></li>

                        <li><a class="nav-link" href="~/Home/CoorList">القاعات</a></li>
                        <li><a class="nav-link" href="~/Home/yourDecore">صمم مناسبتك</a></li>
                    </ul>
                </div>


                <a class="navbar-brand" href=""><img src="~/Content/images/logo.png" alt="image"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer class="footer-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">Sweetwedding</a> Design By : <a href="https://html.design/">html design</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- ALL JS FILES -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.pogo-slider.min.js"></script>
    <script src="~/Content/js/slider-index.js"></script>
    <script src="~/Content/js/smoothscroll.js"></script>
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script src="~/Content/js/timeLine.min.js"></script>
    <script src="~/Content/js/form-validator.min.js"></script>
    <script src="~/Content/js/contact-form-script.js"></script>
    <script src="~/Content/js/custom.js"></script>
</body>
</html>