
@{
    Layout = "~/Views/Shared/adminLayout.cshtml";
}

<br /><br /><br />
<hr />
<h1 align="center">منطقة مدير النظام</h1>
<center>
    <img src="~/Content/images/gallery-02.jpg" width="600" />
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />