@model party.Models.allProject

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner -->
<div class="home-slider">
    <ul class="rslides">
        <li><img src="~/Content/images/image3.jpeg" alt=""></li>
        <li><img src="~/Content/images/image4.jpg" alt=""></li>
        <li><img src="~/Content/images/image6.jpg" alt=""></li>
    </ul>
    <div class="lbox-details">
        <h1>Karlene Hoard & Jonas Pare</h1>
        <h2>كارلن للمناسبات</h2>
    </div>
</div>
<!-- End Banner -->
<!-- Start Events -->
<div id="events" class="events-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box">
                    <h2>عرض القاعات</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.decorations)
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="event-inner">
                        <div class="event-img">
                            <img height="200" width="300" src="@Url.Content(item.image)" alt="" />
                        </div>
                        <h2>@item.decoreName</h2>
                        <h2>اسم المنسق : @item.coordinator.name</h2>
                        <a href="~/Home/Decorationdet?id=@item.Id">عرض التفاصيل <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            }
        </div>
        <center>
            <a href="~/Home/CoorList" class="btn btn-danger">عرض المزيد <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </center>
    </div>
</div>
<!-- End Events -->
<!-- Start Story -->
<div id="story" class="story-box main-timeline-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box">
                    <h2>صور من بعض المناسبات التى قمنا بتنسيقها</h2>
                </div>
            </div>
        </div>

        <div class="timeLine">
            <div class="row">
                <div class="lineHeader hidden-sm hidden-xs"></div>
                <div class="lineFooter hidden-sm hidden-xs"></div>

                <!-- Item 1 - يسار -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                    <div class="caption">
                        <div class="star center-block">
                            <span class="h3">01</span>
                            <span>January</span>
                            <span>2024</span>
                        </div>
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1587825140708-dfaf72ae4b04?w=600" alt="conference" />
                            <div class="title">
                                <h2>مؤتمر الأعمال السنوي <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
                            </div>
                        </div>
                        <div class="textContent">
                            <p class="lead">نجحنا في تنظيم مؤتمر أعمال كبير بحضور أكثر من 500 شخص من رجال الأعمال والمسؤولين.</p>
                        </div>
                    </div>
                </div>

                <!-- Item 2 - يمين -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                    <div class="caption">
                        <div class="star center-block">
                            <span class="h3">03</span>
                            <span>March</span>
                            <span>2024</span>
                        </div>
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1519167758481-83f550bb49b3?w=600" alt="wedding hall" />
                            <div class="title">
                                <h2>حفل زفاف فاخر <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
                            </div>
                        </div>
                        <div class="textContent">
                            <p class="lead">قاعة أفراح مزينة بأرقى الديكورات والإضاءة الساحرة باستضافة أكثر من 300 مدعو.</p>
                        </div>
                    </div>
                </div>

                <!-- Item 3 - يسار -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                    <div class="caption">
                        <div class="star center-block">
                            <span class="h3">06</span>
                            <span>June</span>
                            <span>2024</span>
                        </div>
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1540575467063-178a50c2df87?w=600" alt="conference" />
                            <div class="title">
                                <h2>ملتقى التكنولوجيا <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
                            </div>
                        </div>
                        <div class="textContent">
                            <p class="lead">تنظيم ملتقى تقني متخصص شمل ورش عمل وجلسات نقاشية في بيئة احترافية.</p>
                        </div>
                    </div>
                </div>

                <!-- Item 4 - يمين -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                    <div class="caption">
                        <div class="star center-block">
                            <span class="h3">09</span>
                            <span>September</span>
                            <span>2024</span>
                        </div>
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1465495976277-4387d4b0b4c6?w=600" alt="wedding" />
                            <div class="title">
                                <h2>حفل خطوبة مميز <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
                            </div>
                        </div>
                        <div class="textContent">
                            <p class="lead">حفل خطوبة راقٍ بتنسيق زهور طازجة وإضاءة رومانسية مع خدمة ضيافة متكاملة.</p>
                        </div>
                    </div>
                </div>

                <!-- Item 5 - يسار -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                    <div class="caption">
                        <div class="star center-block">
                            <span class="h3">12</span>
                            <span>December</span>
                            <span>2024</span>
                        </div>
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1511578314322-379afb476865?w=600" alt="event" />
                            <div class="title">
                                <h2>مؤتمر نهاية العام <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
                            </div>
                        </div>
                        <div class="textContent">
                            <p class="lead">ختام العام بمؤتمر سنوي كبير جمع المسؤولين والشركاء مع تنظيم احترافي شامل.</p>
                        </div>
                    </div>

                </div>
                <!-- Item 6 - يمين -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
                    <div class="caption">
                        <div class="star center-block">
                            <span class="h3">02</span>
                            <span>February</span>
                            <span>2025</span>
                        </div>
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1464366400600-7168b8af9bc3?w=600" alt="wedding" />
                            <div class="title">
                                <h2>حفل زفاف ملكي <i class="fa fa-angle-right" aria-hidden="true"></i></h2>
                            </div>
                        </div>
                        <div class="textContent">
                            <p class="lead">حفل زفاف أسطوري بتزيين فاخر وإضاءة ذهبية، جمع أكثر من 400 مدعو في أجواء لا تُنسى.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Story -->